/* testing connection to HTML*/
body {
    background-color:  lightblue;
}

footer {
    text-align: center;
    bottom: 0;    
}

#weather-card {
    display: flex;
    flex-direction: row;
}

.fiveDayColor {
    margin: 10px;  
    display: inline-block;
}